{{outlet}}

{{!-- {{video-select data=model.ce_set}} --}}

<div class="menu-overlay">
    {{menu-bar dsm=model}}
</div>

{{bg-player playlist=model.idle_backgrounds}}

{{!-- {{fs-player ce=(get model.ce_set 0)}} --}}